<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Bromita sale mal uwu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bromas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card *ngIf="bromaAleatoria">
      <ion-card-header>
        <ion-card-title>Chiste JAJA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ bromaAleatoria }}
      </ion-card-content>
    </ion-card>

    <ng-template #cargandoBroma>
    </ng-template>

    <ion-list *ngIf="cargandoCategorias">
      <ion-item *ngFor="let categoria of categoriasBromas">
        <ion-label>{{ categoria }}</ion-label>
      </ion-item>
    </ion-list>

    <ng-template #cargandoCategorias>
    </ng-template>
  </ion-content>
</ion-content>
